<div class = "container">
	<table>
    
		<div class = "row">
			<div class = "col-md-2">
				<strong>Roll_No</strong>
			</div>
			<div class = "col-md-2">
				<strong>Name</strong>
			</div>
			<div class = "col-md-2">
				<strong>Faculty</strong>
			</div>
			<div class = "col-md-2">
				<strong>Year</strong>
			</div>
			<div class = "col-md-2">
				<strong>Contact_Number</strong>
			</div>
			<div class = "col-md-2">
				<strong>Donation_quantity</strong>
			</div>
		</div>
	</div>
</table>
 <br /> <br />

<div class = "container">
	<table>
		<div class = "row">
			<div class = "col-md-2">
				22
			</div>
			<div class = "col-md-2">
				Rebica Shrestha
			</div>
			<div class = "col-md-2">
				BSC.CSIT
			</div>
			<div class = "col-md-2">
				2071
			</div>
			<div class = "col-md-2">
				098765432
			</div>
			<div class = "col-md-2">
				5
			</div>
		</div>
	</div>
</table>
	<table>
		<div class = "row">
			<div class = "col-md-2">
				32
			</div>
			<div class = "col-md-2">
				Samikshya Maharjan
			</div>
			<div class = "col-md-2">
				Computer engineering
			</div>
			<div class = "col-md-2">
				2074
			</div>
			<div class = "col-md-2">
				12345678
			</div>
			<div class = "col-md-2">
				4
			</div>
		</div>
</table>


