<div class ="footer text-center">
  <div class = "fixed-bottom">  
   <span class = "nav_links pull-left"><%= link_to "About us", static_pages_about_path, :class => 'btn btn-primary'%></span>
    <span class = "nav_links pull-left"><%= link_to "Contact us", static_pages_help_path,:class => 'btn btn-primary'%></span>
	</div>
</div>