 // Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
.bg_we{
	background-image: "../../background.png"
}

.bg_we2{
	margin-left: 200px;
	max-width: 50px;

}